#Have not used this secret in the deployment.yaml file. Just for reference for future use.
apiVersion: v1
kind: Secret
metadata:
  name: backend-secret
type: Opaque
stringData:
  DB_USER: "admin"
  DB_PASS: "securepassword"
